[submodule "clickhouse-cpp"]
	path = clickhouse-cpp
	url = https://github.com/ClickHouse/clickhouse-cpp.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
